root = true

[*.{cs,vb}]
dotnet_diagnostic.TUnitAssertions0003.severity=silent


# Verify
[*.{received,verified}.{txt}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false