###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Verify
*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.received.txt text eol=lf working-tree-encoding=UTF-8