name: Web Project Example Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  web-example-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Run Tests
        run: dotnet run -c Release
        working-directory: "TUnit.Example.WebProject.Tests"
